<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--Uygulamaya ait özel bilgiler-->
  <appSettings>
    <add key="MarketimConnectionString" value="server=.;database=Marketim;Integrated Security=true"/>
  </appSettings>
  <!--DB erişim bilgileri-->
  <connectionStrings>
    <add name="MarketimConnectionString" connectionString="server=.;database=Marketim;Integrated Security=true"/>
  </connectionStrings>
</configuration>